 <!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(6,38,66);">

    <!-- Container wrapper -->

    <div class="container-fluid">

      <!-- Navbar brand -->

      <a class="navbar-brand me-2 ml-3" href="">

        <img

          src="../../../../assets/tmdbLogo.svg"

          height="40"

          alt=""

          loading="lazy"

          style="margin-top: -1px;"

        />

      </a>
      <!-- Toggle button -->

      <button

        class="navbar-toggler"

        type="button"

        data-toggle="collapse"

        data-target="#navbarSupportedContent"

        aria-controls="navbarSupportedContent"

        aria-expanded="false"

        aria-label="Toggle navigation"

      >

        <i class="fas fa-bars"></i>

      </button>

 

      <!-- Collapsible wrapper -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left links -->

        <ul class="navbar-nav ml-3 mr-auto">

            <li class="nav-item">

            <a class="nav-link" href="">Movies</a>

            </li>

            <li class="nav-item">

            <a class="nav-link" href="#">More</a>

            </li>

        </ul>

        <!-- right links -->

        <div class="d-flex align-items-center">

          <form class="form-inline">
            <input #inputSearch class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" (click)="search(inputSearch.value)">Search</button>

          </form>

        </div>

      </div>

      <!-- Collapsible wrapper -->

    </div>

    <!-- Container wrapper -->

  </nav>

  <!-- Navbar -->